@charset "utf-8";

@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf");
}

$base-font-family: "Roboto-Regular", -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$header-font-family: "PlayfairDisplay-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$header-font-weight: 400 !default;
$small-font-size:  $base-font-size !default; // * 0.875
$base-line-height: 1.5 !default;

$spacing-unit:     20px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:     #993366 !default;

$grey-color:       #828282 !default;
$blockquote-background-color: #fff5fa !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

$content-width:    1200px !default;

$on-palm:          800px !default;
$on-laptop:        1200px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

.post-content p {
  line-height: 22px;
	color: #000;
}

.post-content img {
  max-width: 100% !important;
  margin: auto !important;
  display: block !important;
}

.post-content blockquote {
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: $blockquote-background-color;
  border-left: 4px solid $brand-color;
  padding: 12px;
  text-align: center;
  font-style: normal !important;
  line-height: 22px;

  em {
    line-height: $base-line-height * 1.5;
    color: $grey-color-dark;
  }
}

.post-content a::after {
  content: " 🔗";
  font-size: smaller;
}